
.edufield{
    margin: 10px auto;
    width: 1300px;
    display: flex;
    padding: 20px;
    background-color: aliceblue;
}

.row{
    display: flex;
    margin: 0 auto;
    background-color: aliceblue;
    width: 1350px;  
    padding: 20px;
}

.buttonx{
    padding: 42px 10px;
}

.btnar{
    background-color: blue;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 7px;
    padding: 5px 20px;
}