.tech{
    margin: 10px auto;
    width: 380px;
    display: flex;
    background-color: aliceblue;
    padding: 20px;
}

.radiob{
    margin: 5px;
}

.radiol{
    margin: 5px;
}
.techno{
    margin: 10px auto;
    width: 450px;
    border: 2px solid red;
    background-color: #99c2e6;
}