.tech{
    margin: 10px auto;
    width: 400px;
    display: flex;
    border-radius: 9px;
    background-color: aliceblue;
    padding: 20px;
}

.radiob{
    margin: 5px;
}

.radiol{
    margin: 5px;
}
.techno{
    margin: 10px auto;
    padding: 10px;
    width: 450px;
    border-radius: 9px;
    background-color: #99c2e6;
}