.experienceField{
    margin: 10px auto;
    width: 1000px;
    display: flex;
    padding: 20px;
    background-color: aliceblue;
}

.expdiv{
    margin: 10px auto;
    width: 1500px;
    background-color:#99c2e6;
    padding: 10px;
    border-radius: 9px;
}