.preferenceFields{
    margin: 10px auto;
    width: 960px;
    border-radius: 9px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background-color: aliceblue;
}

.preferenceDiv{
    background-color: #99c2e6;
    width: 1230px;
    border-radius: 9px;
    margin: 30px auto;
    padding: 20px;
}

.deploc{
    display: flex;
    width: 960px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 9px;
    justify-content: space-around;
    background-color: aliceblue;
}