.preferenceFields{
    margin: 10px auto;
    width: 800px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background-color: aliceblue;
}

.preferenceDiv{
    background-color: aliceblue;
    width: 1030px;
    margin: 0 auto;
    padding: 20px;
}