.App {
  text-align: center;
}

.prevnext{
  background-color: royalblue;
  font-size: 19px;
  color: white;
  margin: 10px;
  border-radius: 7px;
  border: none;
  padding: 10px;
}

.btns{
  display: flex;
  margin: 0 auto;
  width: 200px;
}